@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 200;
  src: url('../fonts/poppins-v22-latin-200.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v22-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v22-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 800;
  src: url('../fonts/poppins-v22-latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v22-latin-900.woff2') format('woff2');
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brandt-light: #819b57;
  --color-brandt-dark: #465929;
}
/*base*/
body {
  font-family: Poppins, sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
address {
  font-style: normal;
}

ul {
  list-style-type: none;
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.section {
  padding: 48px 0;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/*button*/
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brandt-light);
  border: 2px solid var(--color-brandt-light);
  border-radius: 8px;
  padding: 16px 32px;
  cursor: pointer;
  font-weight: 600;
}
.button:hover {
  background-color: transparent;
  color: #465929;
}
/*link*/
.link {
  text-decoration: none;
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brandt-light);
  font-weight: 600;
}
/*hero section*/
.hero-section {
  padding: 272px 0;
}
.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: var(--color-brandt-light);
}
/*perevagi*/
.advantages-list {
  background-color: var(--color-brandt-light);
  color: var(--color-primary-light);
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brandt-dark);
}
/*Traditional section*/
.tradisions-title {
  margin-bottom: 42px;
}

.tradisions-section {
  padding-top: 96px;
}

.tradisions-text .brand {
  color: var(--color-brandt-light);
  font-weight: 600;
}

.tradisions-text .uppercase {
  text-transform: uppercase;
}

/*chefs-title*/
.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.chefs-title {
  margin-bottom: 80px;
}
/*format-title*/
.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/*CONTACT*/
.contact-title {
  margin-bottom: 16px;
}
/*footer*/
.adress-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
}
.adress-link:hover {
  color: var(--color-brandt-light);
}

.address-copiright {
  font-size: 14px;
}
