:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brandt-normal: #819b57;
  --color-brandt-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a18268;
}
