.footer {
  padding: 32px 0;
  background-image: url('../images/footer-fon.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    content: '';
  }

  &::before {
    background-image: url('../images/decor-bread-small.png');

    height: 120px;
    width: 180px;

    left: 0;
  }
  &::after {
    background-image: url('../images/decor-bread-large.png');

    height: 187px;
    width: 380px;

    right: 0;
  }

  &__icons {
    display: flex;
    gap: 20px;
    margin-top: 16px;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      margin: 0 auto;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__address-list,
  &__address-info {
    flex-grow: 1;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }

  &__adress-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    text-decoration: none;
  }
  &__adress-link:hover {
    color: var(--color-brandt-normal);
  }

  &__addres-icon {
    fill: var(--color-primary-light);
  }

  &__addres-icon:hover {
    fill: var(--color-brandt-normal);
  }

  &__address-copiright {
    font-size: 14px;
    color: var(--color-secondary-dark);
  }
}
