.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  overflow: hidden;
  position: relative;
  height: 100%;
  max-height: 880px;
  width: 100%;
  max-width: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 48px;
  overflow-y: auto;
  text-align: center;

  @media screen and (min-width: $bp-tablet) {
    padding: 128px;
  }
  &::after {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 20px;
    content: '';
    background-image: url('../images/model-bread.png');
    width: 151px;
    height: 233px;
    right: 20px;
  }

  &::before {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 20px;
    content: '';
    background-image: url('../images/text-spin.png');
    height: 160px;
    width: 160px;
    right: 20px;
    animation-name: spin;
    animation: spin 10s infinite linear;

    @keyframes spin {
      0% {
        transform: rotate(0);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  &__title {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 0;
  }

  &__btn-close-img {
    fill: transparent;
    stroke: var(--color-primary-dark);
    height: 16px;
    width: 16px;
  }

  &__btn-close {
    position: absolute;
    right: 40px;
    top: 40px;
    border: 0;
    background-color: transparent;
  }

  &__form-field {
    margin-bottom: 32px;
  }
  &__button {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
